/* Style for the header section
**
** Style for the header image and text */
.page-header{
    position: relative;
}

.page-header img{
    width: 100%;
    height: auto;
    display: block;
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    text-align: left;
    color: #f0f2f4;
    font-family: 'Montsserat', sans-serif;
}

.header-text h1{
    font-size: 2em;
    padding-bottom: 9px;
    margin: 0;
}

.header-text h3{
    font-size: 1em;
    margin: 0;
}

.header-nav nav{
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 10;
    font-family: 'Montsserat', sans-serif;
}

.header-nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.header-nav nav a{
    color: #f0f2f4;
    text-decoration: none;
    font-weight: bold;
}